<div class="widget-header">
  <h3>{{ widgetHeading }}</h3>
</div>
<ng-container *ngIf="widgetChildren && widgetChildren.length; else noChild">
  <ng-container *ngIf="onlyChild; else haveChildren">
    <ng-container [ngTemplateOutlet]="onlyChild.templateRef"></ng-container>
  </ng-container>
  <ng-template #haveChildren>
    <mat-tab-group mat-stretch-tabs>
      <ng-container *ngFor="let widgetChild of widgetChildren">
        <mat-tab [label]="widgetChild.sectionLabel">
          <div [style.padding]="'6px'" [style.height]="'100%'">
            <ng-container
              [ngTemplateOutlet]="widgetChild.templateRef"
            ></ng-container>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </ng-template>
</ng-container>
<ng-template #noChild>
  <ng-content></ng-content>
</ng-template>
