:host {
  display: flex;
  height: 100%;
  background-color: var(--widget-bg-color);
  border-radius: 4px;
  overflow: hidden;
  flex-direction: column;

  mat-tab-group {
    flex: 1;

    &::ng-deep {
      .mat-tab-header {
        background-color: var(--common-bg-color);
      }
      .mat-tab-body-wrapper {
        flex: 1;
      }
    }
  }
}

.widget-header {
  padding: 20px 16px;
  background-color: var(--common-bg-color);
  color: var(--accent-color);
}
