:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;

  mat-icon {
    margin-right: 6px;
    font-size: 1.5rem;
  }

  span {
    flex: 1;
  }

  h3 {
    font-weight: var(--inherited-font-weight, 700);
  }
}
