:host {
  display: block;
}

p {
  color: gray;
  white-space: nowrap;
  font-size: 0.8rem;

  span {
    &::after {
      content: ">";
      padding: 0 2px;
    }

    &:last-child {
      color: black;

      &::after {
        content: "";
        padding: 0;
      }
    }
  }
}
