:host {
  display: block;
  background-color: var(--common-bg-color);
  border-top: 2px solid var(--common-border-color);
  position: relative;
}

h5 {
  line-height: 4;
  text-align: center;
  color: var(--accent-color);
}

button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
