:host {
  display: block;
  background-color: var(--common-bg-color);
  border-bottom: 2px solid var(--common-border-color);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
}

qz-brand-logo {
  margin: 0 24px 0 16px;

  &:last-child {
    margin-right: 16px;
    margin-left: auto;
  }
}

qz-bread-crumbs {
  align-self: flex-end;
}
