:host {
  display: block;
  padding: 0 4px;
}

.brand-logo {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--common-border-color);
}
