<div class="form-container mat-elevation-z5" [class.hasLoader]="isSigningIn">
  <qz-login-form (onFormSubmitted)="onLogin($event)"></qz-login-form>
</div>

<ng-container *ngIf="isSigningIn">
  <div class="overlay-container">
    <div class="overlay-loader"></div>
  </div>
</ng-container>

<div class="simulate-checbox-container">
  <label>Simulate Login (No Api Call)</label>
  <input
    type="checkbox"
    class="checkbox"
    (change)="onSimulate($event)"
    [checked]="simulateLogin"
  />
</div>
