:host {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  position: relative;
}

.form-container {
  background-color: var(--common-bg-color);
  width: 50%;
  min-width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  qz-login-form {
    width: 80%;
  }

  &.hasLoader {
    filter: blur(5px);
  }
}

.simulate-checbox-container {
  position: absolute;
  bottom: 30px;
  right: 30px;

  .checkbox {
    margin-left: 10px;
  }
}

.overlay-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: 0;

  .overlay-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;

    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border-width: 8px;
      border-style: solid;
      border-color: var(--common-border-color) var(--common-border-color)
        var(--common-border-color) transparent;

      animation: qz-rotate 0.5s infinite linear forwards;
    }
  }
}

@keyframes qz-rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
