<ng-container *ngIf="loginFormGroup">
  <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <!-- Email Field -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Enter Email..."
        [formControlName]="EMAIL_FIELD_NAME"
        required
      />
      <mat-icon matPrefix class="qz-prefix">mail_outline</mat-icon>
      <mat-error
        *ngIf="
          loginFormGroup
            .get(EMAIL_FIELD_NAME)
            ?.hasError(ValidationType.REQUIRED)
        "
        >Email is Required</mat-error
      >
      <mat-error
        *ngIf="
          loginFormGroup.get(EMAIL_FIELD_NAME)?.hasError(ValidationType.INVALID)
        "
        >Email is Invalid</mat-error
      >
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Enter Password..."
        [formControlName]="PASS_FIELD_NAME"
        required
      />
      <mat-icon matPrefix class="qz-prefix">key</mat-icon>
      <mat-icon
        matSuffix
        (click)="hidePassword = !hidePassword"
        style="cursor: pointer"
        >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-error
        *ngIf="
          loginFormGroup.get(PASS_FIELD_NAME)?.hasError(ValidationType.REQUIRED)
        "
        >Password is Required</mat-error
      >
    </mat-form-field>

    <!-- Login Button -->
    <button mat-flat-button color="accent">Login</button>
  </form>
</ng-container>
