:host {
  display: block;
}

form {
  width: 100%;

  mat-form-field,
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    font-size: 1.125rem;
    line-height: 3;
  }

  mat-form-field {
    mat-icon.qz-prefix {
      margin-right: 8px;
    }
  }
}
