:host {
  display: block;
}

.seach-box {
  display: flex;
  min-width: 120px;

  input,
  button {
    border: none;
    outline: none;
  }

  .search-input {
    flex: 1;
    padding: 0 5px;
    border-color: var(--common-border-color);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
  }

  .search-button {
    width: 42px;
    height: 36px;
    background-color: var(--accent-color);
    color: var(--common-bg-color);
    border-radius: 2px;
    position: relative;
    left: -5px;

    mat-icon {
      font-size: 1.75rem;
    }
  }
}
