<qz-icon-text-pair icon="home">Home</qz-icon-text-pair>
<qz-icon-text-pair icon="home" class="active">Production</qz-icon-text-pair>
<div class="sub-menu">
  <qz-icon-text-pair class="active">Dying</qz-icon-text-pair>
  <qz-icon-text-pair>Finishing</qz-icon-text-pair>
  <qz-icon-text-pair>Crusting</qz-icon-text-pair>
</div>
<qz-icon-text-pair icon="home">Reports</qz-icon-text-pair>
<qz-icon-text-pair icon="home">planning</qz-icon-text-pair>
<qz-icon-text-pair icon="home">Finance</qz-icon-text-pair>
<qz-icon-text-pair icon="home">See more</qz-icon-text-pair>
