:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  color: gray;
}

qz-icon-text-pair {
  margin: 12px 0;

  &.active {
    color: var(--accent-color);
  }
}

.sub-menu {
  border-top: 1px solid var(--common-border-color);
  font-size: 0.85rem;

  --inherited-font-weight: 600;
}
