:host {
  display: block;
  margin: 16px 0;
  padding: 12px 0;
  border-bottom: 1px solid lightgray;
}

.notification-panel {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  font-size: 0.65rem;
  color: gray;

  --inherited-font-weight: 400;
  .time {
    color: var(--accent-color);
    text-align: right;
  }
}
