<qz-icon-text-pair
  style="color: var(--accent-color)"
  icon="notification_important"
  [badgeCount]="10"
>
  Notifications
</qz-icon-text-pair>
<div class="notification-panel">
  <qz-icon-text-pair icon="notification_important"> News </qz-icon-text-pair>
  <div class="time">45 minutes ago</div>
  <qz-icon-text-pair icon="notification_important"> News </qz-icon-text-pair>
  <div class="time">45 minutes ago</div>
  <qz-icon-text-pair icon="notification_important"> News </qz-icon-text-pair>
  <div class="time">45 minutes ago</div>

  <div class="time" style="color: gray; margin-top: 10px">See all</div>
</div>
