@use "@angular/material" as mat;
@include mat.core();

$hks-task-primary: mat.define-palette(mat.$light-blue-palette, 500, 100, 900);
$hks-task-accent: mat.define-palette(mat.$blue-grey-palette);

$hks-task-warn: mat.define-palette(mat.$red-palette);
$hks-task-theme: mat.define-light-theme(
  (
    color: (
      primary: $hks-task-primary,
      accent: $hks-task-accent,
      warn: $hks-task-warn,
    ),
  )
);

@include mat.all-component-themes($hks-task-theme);

:root {
  --accent-color: #03a9f4;
  --main-bg-color: #bdbdbd;
  --widget-bg-color: #efebe9;

  --common-border-color: var(--accent-color);
  --common-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
