<span class="icon-btn" (click)="toggleSideBar()">
  <mat-icon>{{ isCollapsed ? "menu" : "close" }}</mat-icon>
</span>
<div class="sidebar-container">
  <qz-icon-text-pair icon="person" style="color: gray">
    Farzan Mirza
  </qz-icon-text-pair>
  <qz-notification-panel></qz-notification-panel>
  <qz-options-panel></qz-options-panel>
</div>
