:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--common-bg-color);
  border: 2px solid var(--common-border-color);
  padding: 6px;
  position: relative;

  .sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: 0.2s linear;
    position: relative;
    overflow: hidden;
  }

  &.isCollapsed {
    .sidebar-container {
      opacity: 0;
    }
  }
}

.icon-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 1rem;
  z-index: 50;
  cursor: pointer;
}

qz-options-panel {
  flex: 1;
  overflow: auto;
}
