:host {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.middle-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding: 6px;

  .sidebar-wrapper {
    height: 100%;
    padding: 6px;
    transition: 0.4s linear;
  }

  .widget-container {
    flex: 1;
    display: flex;
    height: 100%;

    .widget-wrapper {
      width: 50%;
      padding: 6px;
    }

    .divided-widget-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .widget-wrapper {
        height: 50%;
        width: 100%;
        padding: 6px;
      }
    }
  }
}

.widget-content {
  padding: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
    background-color: var(--common-bg-color);
    margin: 6px;
    border-radius: 4px;
    border: 1px solid lightgray;
  }
}
