<qz-header></qz-header>
<div class="middle-container">
  <div class="sidebar-wrapper" [style.width.px]="isSideBarCollapsed ? 50 : 260">
    <qz-sidebar (onToggle)="isSideBarCollapsed = $event"></qz-sidebar>
  </div>
  <div class="widget-container">
    <div class="widget-wrapper">
      <qz-widget widgetHeading="Tasks">
        <ng-template qzWidgetChild sectionLabel="Daily">
          <div class="widget-content">
            <div></div>
            <div></div>
          </div>
        </ng-template>
        <ng-template qzWidgetChild sectionLabel="Pending">
          <div class="widget-content">
            <div></div>
            <div></div>
          </div>
        </ng-template>
        <ng-template qzWidgetChild sectionLabel="Monthly">
          <div class="widget-content">
            <div></div>
            <div></div>
          </div>
        </ng-template>
      </qz-widget>
    </div>
    <div class="divided-widget-container">
      <div class="widget-wrapper">
        <qz-widget widgetHeading="Trends"></qz-widget>
      </div>
      <div class="widget-wrapper">
        <qz-widget widgetHeading="Efficiency"></qz-widget>
      </div>
    </div>
  </div>
</div>
<qz-footer></qz-footer>
